{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
<script src="{% static 'js/login2.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>

<body>
<br><br><br>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post" onsubmit="return signUp()" action="register" >
			{% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="name"  id="name"/>
			<input type="email" placeholder="Email" name="email" id="email" onchange="checkEmailExist()"/><span id="emailError" style="color: red;"></span>

			<input type="number" placeholder="Phone" name="phone" id="phone" />
			<input type="password" placeholder="Password" name="password" id="password" />
			<input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" />
			<button type="submit" id="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="login" method="post">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email or Phone"  id="ins1" name="email"/>
			<input type="password" placeholder="Password" id="ins2" name="password"/><br>
			<span style="color: red;">{{message}}</span>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal details</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hi There!</h1>
				<p>Enter your personal details to open an account with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<br><br>
<center>
	<a href="{% url 'index' %}"><button class="ghost" style="background-color: antiquewhite;">Back to Home</button></a></center>

<script src="{% static 'js/login.js' %}" charset="utf-8"></script>
</body>

</html>
