{% extends 'employee/dashboard.html' %}
{% block content %}

<h2 class="bookingHeading">Total Booking</h2>

<br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Booking Id</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Plan</th>
        <th scope="col">Carname</th>
        <th scope="col">Date</th>
        <th scope="col">Destination</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <th>{{i.user_id}}</th>
        <td>{{i.plan}}</td>
        <td>{{i.car_name}}</td>
        <td>{{i.washing_date}}</td>
        <td>{{i.destination}}</td>
        <td>{{i.hour}}:{{i.minute}} {{i.ampm}}</td>
        <td>{{i.status}}</td>
        <td><button type="button" class="btn btn-secondary btnsz" data-bs-toggle="modal" data-bs-target="#editData"
          onclick="editData('{{i.id}}')">Edit</button>&nbsp;<button type="BUtton" class="btn btn-danger btn-sm btnsz cb" data-bs-toggle="modal"
          data-bs-target="#staticBackdrop" onclick="delete_booking('{{i.id}}')">Cancel Booking</span></button></td>
      </tr>
      {% endfor %}
      </table>

  <div class="bbbt"><a href="{% url 'booking' %}">
    <button type="button" class="btn btn-primary">Book a Car</button></a>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="history.back()">Back to Home</button>
  </div>
  </div>


{% endblock %}